<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>データクリーニング</title>
    {% csrf_token %}
</head>
<body>
<div id="root"></div>
{% load static %}
<script type="text/javascript" src="{% static 'cleaning/index.js' %}"></script>
</body>
</html>